---
import { Icon } from 'astro-icon/components';
import Twemoji from '../common/Twemoji.astro';

interface Props {
  variant?: 'primary' | 'secondary' | 'tertiary';
  class?: string;
  text?: string;
  icon?: string;
  emoji?: string;
  [x: string]: any;
}

const {
  variant = 'primary',
  class: className = '',
  text = '',
  icon = '',
  emoji = '',
  ...rest
} = Astro.props;
---

<button
  class:list={[
    'btn',
    className,
    variant === 'primary' && 'btn-primary',
    variant === 'secondary' && 'btn-secondary', 
    variant === 'tertiary' && 'btn-tertiary',
  ]}
  {...rest}
>
  {emoji && <Twemoji emoji={emoji} size="md" class="mr-2" />}
  {icon && <Icon name={icon} class="w-5 h-5 mr-1 -ml-1.5" />}
  <span>{text || <slot />}</span>
</button>
